---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Colors
$brand-primary: #166088;
$brand-secondary: #E84855;
$brand-success: #000;
$brand-info: #000;
$brand-warning: #000;
$brand-danger: #000;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Scaffolding
$body-bg: #fff;
$text-color: #333;
$link-color: #000;
$link-hover-color: #000;
$link-hover-decoration: #000;


$base-font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
