---
layout: default
---
 
<nav>
    <ul class="listing">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>


{% for post in site.posts limit:1 %}
<h3>{{ post.title }}</h3>
<p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
<div>{{ post.content |truncatehtml | truncatewords: 60 }}... <a href="{{ post.url }}">Read More</a></div>
</a>
{% endfor %}