.top-bar {
    border-top: 8px solid $brand-primary;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.page-container { padding-top: 50px; }
main { margin-bottom: .5em; }
main ul { padding-left: 15px; margin-left: 20px; }


.sidebar {

    .meta {
        text-align: center;
        margin-top: 15px;

        a {
            color: #ddd;
            transition: all .5s ease-in-out;

            &:hover:first-child { color: rgb(114,49,132); }
            &:hover:nth-child(2) { color: rgb(85,172,238); }
            &:hover:nth-child(3) { color: rgb(241,99,3); }
            &:hover:nth-child(4) { color: rgb(0,0,0); }
        }


        .icon {
            margin-right: 6px;
            font-size: 22px;
        }
    }

    .pages {
        margin-top: 15px;

        li {
            list-style: none;
            text-align: center;
        }

        a { 
            color: $text-color;

            &:hover {
                color: $brand-primary;
            }
        }
    }
}

.byline {
    margin: 10px 0 30px 0;
    color: #777;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: $small-font-size;
}

nav .listing {

    margin-bottom: 65px;

    li {
        list-style: none;
        padding: 5px 3px;
        margin: 0;
        color: #777777;   
    }

    span {
        color: #777;
        letter-spacing: 2px;
        font-size: $small-font-size;
        text-transform: uppercase;
        float: right;
    }

    a {
        color: $text-color;
        padding-bottom: 2px;
        border-bottom: 1px dotted #ddd;
        font-size: $listing-font-size;

        &:hover {
            color: $brand-primary;
        }
    }
}

#disqus_thread {
    margin-top: 55px;
    margin-bottom: 15px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 850px ){
    main {
        max-width: 90%;
        margin: 0 auto;
    }

    .sidebar {
        max-width: 90%;
        margin: 0 auto 30px auto;
        height: 150px;
        

        .author {
            float: left;

            img{
                height: 150px;
            }
        }

        .sidebar-text {
            height: 150px;
            .meta {
                float:left;
                width: 22px;
                margin-left: 10px;
                &:after { clear: both; }

                .icon {
                    margin-bottom: 13px;
                }
            }
            .pages {
                padding-top: 50px;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (min-width: 850px ) {
    main {

        .post {
            max-width: 700px;
            font-size: 18px;
            margin-left: 250px;
        }

        .wrapper { 
            max-width: 600px;
            margin-left: 250px; 
        }
    }

    .sidebar { 
        margin-left: 50px;

        position: fixed; 
        width: 150px;
        height: 100%; 
    }   
}