nav {
	width: 100%;
	padding: 5px 0 7px 0;
	text-align: center;

	color: #FFFFFF;
	text-transform: uppercase;
	background-color: #311B46;

	ul {
		margin:0;
		padding:0;
	}

	li {
		display:inline;
		padding:0;
		margin: 0 15px;
	}

	a {
		color: #FFFFFF;
		text-decoration: none;

		&:hover, &.active { text-decoration: underline; }
		&:visited { color: #FFFFFF; }
	}
}


#disqus_thread {
    margin-top: 55px;
    margin-bottom: 15px;
}

/* MEDIA QUERIES */

// JUST DESKTOP
/* styles for browsers larger than 850px; */
@media screen and (min-width: 850px) {

}

// DESKTOP AND TABLET
@media screen and (min-width: 480px) {
}

// JUST TABLET
@media screen and (min-width: 480px) and (max-width: 849px) {
}

// TABLET AND MOBILE
/* styles for browsers smaller than 850px */
@media screen and (max-width: 849px){
}

// MOBILE
@media screen and (max-width: 479px ){
}